*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: Lato, sans-serif;
}

input{
    outline: none;
}

.container{
    width: 100%;
    max-width: 1040px;
    padding: 0 20px;
    margin: auto;
}

.btn{
    outline: none;
    border: none;
    border-radius: 3px;
}


/* !===Block Text=== */
.block-title{
    font-family: Lato;
    font-weight: 700;
    font-size: 3.8rem;
    text-align: center;
}

.block-title--light{
    color: #fff;
}

.block-title--dark{
    color: #535a5e;
}

.block-text{
    text-align: center;
    font-family: Lato;
    font-size: 2.1rem;
    margin-top: 30px;
    line-height: 1.4;
}

.block-text--light{
    color: #fff;
}

.block-text--dark{
    color: #535a5e;
}



/* !===Header=== */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    color: #fff;
    font-size: 4.8rem;
    font-weight: 300;
}



/* !===Nav=== */
.menu{
    display: flex;
}

.menu__item{
    list-style: none;
    margin-right: 20px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    font-size: 1.6rem;
    color: #e9eef2;
    font-weight: 700;
    opacity: .75;
    text-decoration: none;
    transition: .1s;
}

.menu__link:hover{
    opacity: 1;
    text-decoration: underline;
}

.burger__button{
        display: none;
    
        background: none;
        border: 0;
        cursor: pointer;
        z-index: 999;
}

.burger__line{
    position: relative;
    width: 25px;
    height: 2px;
    background-color: #fff;
}

.burger{
    display: none;
}

.burger__line:before{
    content: "";
    position: absolute;
    top: 7px;
    width: 25px;
    height: 2px;
    background-color: #fff;
}

.burger__line:after{
    content: "";
    position: absolute;
    bottom: 7px;
    width: 25px;
    height: 2px;
    background-color: #fff;
}



/* !===Intro=== */
.intro{
    background: url('../img/intro.jpg') center no-repeat ;
    background-size: cover;
    width: 100%;
}

.intro__inner .block-title{
    padding-top: 220px;
}

.intro__button{
    display: flex;
    justify-content: center;
}

.btn--intro{
    background-color: #a4b9be;
    width: 250px;
    height: 60px;
    margin: 55px auto 100px;

    font-size: 2.1rem;
    color: #fff;
    transition: .1s;
}

.btn--intro:hover{
    background-color: #85a6ae;
}



/* !===Advertising=== */
.description__inner{
    padding: 80px 0 100px;
}

.description__inner .block-text{
    font-size: 1.6rem;
    color: #9fa4a7;
}

.description__icon-block{
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

.description__icon{
    height: 35px;
    fill: #000;
}



/* !===Pricing=== */
.pricing__inner{
    padding-bottom: 80px;
}

.pricing .block-title{
    font-size: 3rem;
}

.pricing__block{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing__item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 290px;
}

.pricing__title{
    border-radius: 3px 3px 0 0;
    padding: 20px 0;
    font-size: 3rem;
    font-weight: 300;
    color: #e9eef2;
    text-align: center;
}

.pricing__title--grey{
    background-color: #535a5e;
}

.pricing__title--green{
    background-color: #58ad52;
}

.pricing__title--blue{
    background-color: #53a1ad;
}

.pricing__information{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #535a5e;
    font-size: 2.1rem;
    text-align: center;
    border-radius: 0 0 3px 3px;
}

.pricing__information--grey{
    background-color: #e9eef2;
}

.pricing__information--green{
    background-color: #dfebdf;
}

.pricing__information--blue{
    background-color: #dee9eb;
}

.pricing__price{
    font-weight: 700;
}

.pricing__button{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    height: 60px;

    font-size: 1.8rem;
    color: #e9eef2;
    text-decoration: none;
    font-family: Lato;

    border-radius: 3px;
}

.pricing__button--grey{
    background-color: #535a5e;
    transition: .1s;
}

.pricing__button--green{
    background-color: #58ad52;
    transition: .1s;
}

.pricing__button--blue{
    background-color: #53a1ad;
    transition: .1s;
}

.pricing__button--grey:hover{
    background-color: #2c3337;
}

.pricing__button--green:hover{
    background-color: #438b3d;
}

.pricing__button--blue:hover{
    background-color: #3d8995;
}

.pricing__comment{
    margin-top: 50px;

    color: #98a0a5;
    font-size: 1.5rem;
    text-align: center;
}



/* !===Contact=== */
.contact{
    background-color: #2d3035;
}

.contact__inner{
    padding: 80px 0;
}

.contact__inner .block-title--light{
    color: #f1f1f1;
}

.contact__inner .block-text--light{
    color: #98a0a5;
}

.contact__form{
    width: 100%;
    max-width: 400px;
    padding-top: 60px;
    margin: auto;
}

.contact__input{
    padding-left: 20px;
    color: #e9eef2;
    height: 55px;
    width: 100%;
    border: 2px solid #e9eef2;
    border-radius: 3px;
    background-color: inherit;
    margin-bottom: 20px;
}

.contact__input-name{
    height: 110px;
    outline: none;
    padding-top: 20px;
    font-family: Lato;
}

input::placeholder{
    color: #e9eef2;
    opacity: .75;
}

textarea::placeholder{
    color: #e9eef2;
    opacity: .75;
    font-family: Lato;
}

.contact__button{
    border-radius: 3px; 
    margin-bottom: 40px;
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    background-color: #a4b9be;
    font-size: 1.8rem;
    font-weight: 700;
    color: #2d3035;
    text-decoration: none;
}

.social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 86px;
    margin: 0 auto;
}

.social__icon{
    width: 21px;
    height: 21px;
    fill: #fff;
    opacity: .75;
    transition: .1s;
}

.social__icon:hover{
    opacity: 1;
}



/* !===Footer=== */
.footer{
    background-color: #fcfcfc;
}

.footer__copyrights{
    font-size: 1.6rem;
    color: #535a5e;
    text-align: center;
    padding: 30px 0;
}



/* !===Adaptive=== */
@media (max-width: 889px){
    html{
        font-size: 9px;
    }

    .pricing__block{
        padding: 0 80px;
    }

    .pricing__item{
        margin-top: 20px;
    }
}

@media (max-width: 570px){
    .header__inner{
        position: relative;
    }

    /* !Nav*/
    nav{
        display: none;
        width: 100%;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: #606060;
        margin-right: 0;
    }

    .nav.show{
        display: flex;
    }

    .menu{
        flex-direction: column;
        text-align: left;
    }

    .menu__item{
        padding: 12px 15px;
        margin-left: 20px;
    }

    .menu__link{
        font-size: 2.5rem;
    }

    .burger{
        display: block;
    }
}

@media (max-width: 504px){
    .pricing__block{
        width: 100%;
        padding: 0;
    }

    .pricing__item{
        width: 100%;
    }
}