*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: Lato, sans-serif;
}

.container{
    width: 100%;
    max-width: 1020px;
    padding: 0 10px;
    margin: auto;
}

.btn{
    outline: none;
    border: none;
    border-radius: 3px;
}


/* !===Block Text=== */
.block-title{
    font-family: Lato;
    font-weight: 700;
    font-size: 3.8rem;
    text-align: center;
}

.block-title--light{
    color: #fff;
}

.block-title--dark{
    color: #535a5e;
}

.block-text{
    text-align: center;
    font-family: Lato;
    font-size: 2.1rem;
    margin-top: 30px;
}

.block-text--light{
    color: #fff;
}

.block-text--dark{
    color: #535a5e;
}



/* !===Header=== */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    color: #fff;
    font-size: 4.8rem;
    font-weight: 300;
}



/* !===Nav=== */
.menu{
    display: flex;
}

.menu__item{
    list-style: none;
    margin-right: 20px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    font-size: 1.6rem;
    color: #e9eef2;
    font-weight: 700;
    opacity: .75;
    text-decoration: none;
    transition: .1s;
}

.menu__link:hover{
    opacity: 1;
    text-decoration: underline;
}



/* !===Intro=== */
.intro{
    background: url('../img/intro.jpg') center no-repeat ;
    background-size: cover;
    width: 100vw;
}

.intro__inner .block-title{
    padding-top: 220px;
}

.intro__button{
    display: flex;
    justify-content: center;
}

.btn--intro{
    background-color: #a4b9be;
    width: 250px;
    height: 60px;
    margin: 55px auto 100px;

    font-size: 2.1rem;
    color: #fff;
    transition: .1s;
}

.btn--intro:hover{
    background-color: #85a6ae;
}